*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.anone{
    text-decoration: none;
    color: lightgray;

}

/* general container main l and r */

#container{
    display: flex;

}

/* right menu and logo */

/* general container menu */

.menucont {
    background-color: black;
    max-height: 100%;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

}

/* logo */

.logo{
    padding: 10px 20px;
}

.logo img{
    max-width: 60%;
}

.logomob{
    padding: 10px 20px;
}

.logomob img{
    display: none;
    max-width: 100%;
    color: white;
}

/* menu up */


.contu{

}

.menul{

}

#borderl{
    border-left: 2px solid yellowgreen;
    padding: 5px 20px;
}

#borderl a{
    color:white;
}

.lile{
    padding: 5px 20px;
}

.tile{
    color: white;
    padding: 0px 20px;
    padding-top: 10px;
    padding-bottom: 5px;
}


.fa-plus{
    color: black;
    background-color: lightgray;
    border: 1px solid black;
    font-size: 25px;
    padding: 5px 5px;
    margin-bottom: 10px;
    margin-right: 5px;
}

.nplay{
    font-size: 13px;
}

/* menu down */
.contd{

}

.fa-arrow-down{
    color: lightgray;
    border: 1px solid lightgray;
    border-radius: 50%;
    padding: 2px 2px;
    font-size: 10px;
}

.bord{
    border-bottom: 1px solid lightgray;
    margin: 5px 20px;
}

.fa-user{
    color: white;
    background-color: lightgray;
    border-radius: 50%;
    padding: 5px 5px;
    font-size: 20px;
}

.cw{
    color: white;
    font-size: 20px;
}

.cl{
    color: lightgray;
}
.ia{
    padding: 5px 20px;
}

/* main content */

/* general conteiner main cont */
.contcont{
    overflow: auto;
    height: calc(100vh - 90px);
    width: calc(100% - 250px);
    background-color: rgb(33, 33, 33);

}

/* header main cont */

.cheader{
    height: 70px;
    background-color: rgba(22, 22, 22, 0.5);
    position: sticky;
    top: 0;
    left: 0;
}

.button{
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translate(0%, -50%);
    border: 1px solid white;
    padding: 8px 25px;
    border-radius: 50px;
}

.button a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

/* central menu main cont */
.menuc{
    text-align: center;
}

.menuc ul li{
    display: inline-block;
    padding: 10px 10px;
}

#bord2{
    border-bottom: 1px solid yellowgreen;
    padding-bottom: 5px;
}

/* container main cont */
.containermain1{
    width: 95%;
    margin: 0 auto;
}

.maincont{ 
    display: flex;
    justify-content: space-between;

}

/* container img h5 p */
.cont, .cont2, .cont3, .cont4, .cont5, .cont6{
   width: 15%;
   padding-top: 20px;
   padding-bottom: 10px;
   text-align: center;
}

.cont h5, .cont2 h5, .cont3 h5, .cont4 h5, .cont5 h5, .cont6 h5{
    color: white;
    font-size: 15px;
    margin: 10px 0;
}

.cont p, .cont2 p, .cont3 p, .cont4 p, .cont5 p, .cont6 p{
    color: lightgray;
    font-size: 12px;
}

.album img{
    max-width: 100%;
}

.h3main {
    color: white;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;

}

.pmain{
    color: lightgray;
    font-size: 13px;
}

.maincont2{
    display: flex;
    gap: 2%;
}

.bordalb img{
    border-radius: 50%;
}

.hovwith:hover{
    color: white;
}

.hovbut:hover{
    padding: 10px 30px;
}

.album:hover .flexf{
    display: block;
}

.album:hover img{
    opacity: 0.5;
}

.flexf{
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    z-index: 99;
    transform: translate(-50%, -50%);

    
}
 #fz{
    font-size: 80px;
    color: white;
}

.album{
    position: relative;
}





/* footer */

footer {
    height: 90px;
    background-color: rgb(18, 18, 18);
    position: sticky;
    bottom: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
}

/* left sec footer */
.fl{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15%;
}

.flcont1{
    display: flex;
    width: 70%;
    align-items: center;
}

.albumcon{
    width: 40%;
}

.infocon{
    width: 60%;
}

.albumcon img{
    max-width: 90%;
    padding: 0x 5px;
}

.flcont2 ul {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.ful li{
    list-style: none;
}

.ful2 li{
    list-style: none;
}

#endl{
    margin-left: 5px;
}

.tith6{
    color: white;
    font-size: 14px;
}

.pfl{
    color: lightgray;
    font-size: 11px;
}

.flcont2 ul a{
    display: inline-block;
}

/* central sec footer */
.fc{
    width: 55%;
}

.fa-shuffle{
    color: white;
    font-size: 20px;
    margin: 5px 10px;
}

.fa-backward-step{
    color: white;
    font-size: 20px;
    margin: 5px 10px;
}

.fa-circle-play{
    color: white;
    font-size: 25px;
    margin: 5px 10px;
}
.fa-forward-step{
    color: white;
    font-size: 20px;
    margin: 5px 10px;
}

.fa-rotate-right{
    color: white;
    font-size: 20px;
    margin: 5px 10px;
}

.fcu ul li{
    display: inline-block;
}

.fcu{
    text-align: center;
}

.fcd{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 10px;
}

.bordcol{
    border: 2px solid lightgray;
    width: 20%;
    border-radius: 9999px;
}

.bordcol:hover {
    border: 2px solid yellowgreen;
}

.bordchia{
    width: 50%;
    border: 2px solid gray;
    border-radius: 9999px;
}

.spanf{
    color: white;
    font-size: 10px;
}

.spanf1{
    margin-right: 20px;
}

.spanf2{
    margin-left: 20px;
}

.pallino{
    border: 6px solid lightgray;
    border-radius: 50%;
    background-color: yellowgreen;
    font-size: 100px;
    position: absolute;
    top: 1px;
    left: 140px;
    display: none;
}

.fcd:hover .pallino{
    display: block;
}


/* right sec footer */
.fr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}

.fcdl{
    width: 30%;
}

.fa-list{
    color: white;
    font-size: 11px;
}

.fa-display{
    color: white;
    font-size: 11px;
    margin-left: 5px;
}

.fa-volume-high{
    color: white;
    font-size: 11px;
    margin-left: 5px;
}

.fcdl ul li{
    display: inline-block;
}

.pallino2{
    border: 6px solid lightgray;
    border-radius: 50%;
    background-color: yellowgreen;
    font-size: 100px;
    position: absolute;
    top: -4px;
    left: 60px;
    display: none;
}

.fcd2:hover .pallino2{
    display: block;
}

.fcd2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 10px;
}



/* tablet version */

@media screen and (min-width: 768px) and (max-width: 992px) {

    .maincont{
        flex-wrap: wrap;
        justify-content: left;
        gap: 3%;
    }

    .cont, .cont2, .cont3, .cont4, .cont5, .cont6{
        width: 22%;
    }

    .tith6{
        font-size: 12px;
    }
    
    .pfl{
        font-size: 8px;
    }

    .fa-heart{
        font-size: 13px;
    }

    .fa-folder{
        font-size: 13px;
    }

    
    .fa-shuffle{
        color: white;
        font-size: 15px;
        margin: 5px 10px;
    }

    .fa-backward-step{
        color: white;
        font-size: 15px;
        margin: 5px 10px;
    }

    .fa-circle-play{
        color: white;
        font-size: 20px;
        margin: 5px 10px;
    }
    .fa-forward-step{
        color: white;
        font-size: 15px;
        margin: 5px 10px;
    }

    .fa-rotate-right{
        color: white;
        font-size: 15px;
        margin: 5px 10px;
    }

    .fa-list{
        color: white;
        font-size: 8px;
    }

    .fa-display{
        color: white;
        font-size: 8px;
    }

    .fa-volume-high{
        color: white;
        font-size: 8px;
    }

    #fz{
        font-size: 70px;
    }

}

/* mobile version */

@media screen and (min-width: 480px) and (max-width: 767px){
    .menucont{
        width: 70px;
        align-items: center;
        text-align: center;
    }
    .contcont{
        width: calc(100% - 70px);
    }
    .notext{
        display: none;
    }
    .logomob img{
        display: block;
    }
    .logo img{
        display: none;
    }

    .maincont{
        display: flex;
        flex-wrap: wrap;
    }

    .cont, .cont2, .cont3, .cont4, .cont5, .cont6{
        width: 45%;
    }

    .tith6{
        font-size: 10px;
    }
    
    .pfl{
        font-size: 6px;
    }

    .fa-heart{
        font-size: 10px;
    }
    .fa-folder{
        font-size: 10px;
    }

    
    .fa-shuffle{
        color: white;
        font-size: 12px;
    }

    .fa-backward-step{
        color: white;
        font-size: 12px;
    }

    .fa-circle-play{
        color: white;
        font-size: 15px;
    }
    .fa-forward-step{
        color: white;
        font-size: 12px;
    }

    .fa-rotate-right{
        color: white;
        font-size: 12px;
    }
    .fa-list{
        color: white;
        font-size: 8px;
    }

    .fa-display{
        color: white;
        font-size: 8px;
    }

    .fa-volume-high{
        color: white;
        font-size: 8px;
    }

    #fz{
        font-size: 100px;
    }

}