*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.anone{
    text-decoration: none;
    color: lightgray;

}

/* general container main l and r */

#container{
    display: flex;

}

/* right menu and logo */

/* general container menu */

.menucont {
    background-color: black;
    max-height: 100%;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

}

/* logo */

.logo{
    padding: 10px 20px;
}

.logo img{
    max-width: 60%;
}

.logomob{
    padding: 10px 20px;
}

.logomob img{
    display: none;
    max-width: 100%;
    color: white;
}

/* menu up */


.contu{

}

.menul{

}

#borderl{
    border-left: 2px solid yellowgreen;
    padding: 5px 20px;
}

#borderl a{
    color:white;
}

.lile{
    padding: 5px 20px;
}

.tile{
    color: white;
    padding: 0px 20px;
    padding-top: 10px;
    padding-bottom: 5px;
}


.fa-plus{
    color: black;
    background-color: lightgray;
    border: 1px solid black;
    font-size: 25px;
    padding: 5px 5px;
    margin-bottom: 10px;
    margin-right: 5px;
}

.nplay{
    font-size: 13px;
}

/* menu down */
.contd{

}

.fa-arrow-down{
    color: lightgray;
    border: 1px solid lightgray;
    border-radius: 50%;
    padding: 2px 2px;
    font-size: 10px;
}

.bord{
    border-bottom: 1px solid lightgray;
    margin: 5px 20px;
}

.fa-user{
    color: white;
    background-color: lightgray;
    border-radius: 50%;
    padding: 5px 5px;
    font-size: 20px;
}

.cw{
    color: white;
    font-size: 20px;
}

.cl{
    color: lightgray;
}
.ia{
    padding: 5px 20px;
}

/* main content */

/* general conteiner main cont */
.contcont{
    overflow: auto;
    height: calc(100vh - 90px);
    width: calc(100% - 250px);
    background-color: rgb(33, 33, 33);

}

/* header main cont */

.cheader{
    height: 70px;
    background-color: rgba(22, 22, 22, 0.5);
    position: sticky;
    top: 0;
    left: 0;
}

.button{
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translate(0%, -50%);
    border: 1px solid white;
    padding: 8px 25px;
    border-radius: 50px;
}

.button a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

/* central menu main cont */
.menuc{
    text-align: center;
}

.menuc ul li{
    display: inline-block;
    padding: 10px 10px;
}

#bord2{
    border-bottom: 1px solid yellowgreen;
    padding-bottom: 5px;
}

/* container main cont */
.containermain1{
    width: 95%;
    margin: 0 auto;
}

.maincont{ 
    display: flex;
    justify-content: space-between;

}

/* container img h5 p */
.cont, .cont2, .cont3, .cont4, .cont5, .cont6{
   width: 15%;
   padding-top: 20px;
   padding-bottom: 10px;
   text-align: center;
}

.cont h5, .cont2 h5, .cont3 h5, .cont4 h5, .cont5 h5, .cont6 h5{
    color: white;
    font-size: 15px;
    margin: 10px 0;
}

.cont p, .cont2 p, .cont3 p, .cont4 p, .cont5 p, .cont6 p{
    color: lightgray;
    font-size: 12px;
}

.album img{
    max-width: 100%;
}

.h3main {
    color: white;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;

}

.pmain{
    color: lightgray;
    font-size: 13px;
}

.maincont2{
    display: flex;
    gap: 3%;
}

.bordalb img{
    border-radius: 50%;
}

.hovwith:hover{
    color: white;
}

.hovbut:hover{
    padding: 10px 30px;
}

.album:hover{
    opacity: 0.5;
}


/* footer */

footer {
    height: 90px;
    background-color: rgb(18, 18, 18);
    position: sticky;
    bottom: 0;
    left: 0;
    z-index: 999;
}

/* left sec footer */
.fl{

}

/* central sec footer */
.fc{

}

/* right sec footer */
.fr{

}

/* tablet version */

@media screen and (min-width: 768px) and (max-width: 992px) {

    .maincont{
        flex-wrap: wrap;
        justify-content: left;
        gap: 3%;
    }

    .cont, .cont2, .cont3, .cont4, .cont5, .cont6{
        width: 22%;
    }
}

/* mobile version */

@media screen and (min-width: 480px) and (max-width: 767px){
    .menucont{
        width: 70px;
        align-items: center;
        text-align: center;
    }
    .contcont{
        width: calc(100% - 70px);
    }
    .notext{
        display: none;
    }
    .logomob img{
        display: block;
    }
    .logo img{
        display: none;
    }

    .maincont{
        display: flex;
        flex-wrap: wrap;
    }

    .cont, .cont2, .cont3, .cont4, .cont5, .cont6{
        width: 45%;
    }
}